@font-face {
  font-family: "Yellowtail";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/yellowtail-v18-latin/yellowtail-v18-latin-regular.woff2")
    format("woff2");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/open-sans-v34-latin/open-sans-v34-latin-regular.woff2")
    format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/roboto-v30-latin/roboto-v30-latin-regular.woff2")
    format("woff2");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/open-sans-v34-latin/open-sans-v34-latin-700.woff2")
    format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/roboto-v30-latin/roboto-v30-latin-700.woff2")
    format("woff2");
}
