$primary-color: #274c5b;
$second-color: #efd372;
$accent-color: #7eb693;
$basic-gray: #525c60;
$light-gray: #f9f8f8;
$line-color: #d4d4d4;
$oldprice-color: #b8b8b8;

// Tones
$primary-color-lighter: #335b6b;
$accent-color-lighter: #eff6f1;
$line-color-lighter: #e0e0e0;
